@import '../../../../styles';

.account-card {
    @extend .card;
    @include elevation(2);
    margin-top: 15px;
    padding: 0;
    border: 1px solid #DCE1E9;
    cursor: pointer;

    p {
        text-align: center;
        margin: 0;
    }

    .card-header{
        padding: 15px; 
        background: #F9FAFB;
        border-bottom: 1px solid #DCE1E9;
    }

    .card-body{
        .card-body_col{
            width: 49%;
            display: inline-block;
            padding: 15px;
            text-align: center;
        }
    }

    .card-footer{
        border-top: 1px solid #DCE1E9;
        padding: 15px;
        background: #F9FAFB;
        text-align: center;
    }
}